{{!-- display all posts --}}
<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <a href="/post/{{post.id}}">
        <div class="col-8">{{post.postTitle}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{post.user.userName}} on {{format_date post.dateCreated}}
    </div>
  </div>  
  <p class="card-body">
   {{post.postContent}}
  </p>
</div>

{{!-- hidden input field to see post.id --}}
<input type="hidden" name="postId" value="{{post.id}}"/>
<div class="card">
  <div class="card-header"></div>
  {{!-- if user login user can add comments on particular post --}}
  <form class="card-body" id="newCommentForm">
    <p class="FormUserName">Comment</p>
    <textarea class="formInputvalues" id="commentBody" name="commentBody"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{{> comments post.comments}}
</div>


{{!-- link to comment.js file  --}}
<script src="/js/comment.js"></script>
